@* @model dotnetapp.Models.HistoricalTour

<h2>Delete Tour</h2>

<div>
    <p>Are you sure you want to delete this tour?</p>
    <dl class="row">
        <dt class="col-sm-2">Tour Name</dt>
        <dd class="col-sm-10">@Model.TourName</dd>
        <dt class="col-sm-2">Start Time</dt>
        <dd class="col-sm-10">@Model.StartTime</dd>
        <dt class="col-sm-2">End Time</dt>
        <dd class="col-sm-10">@Model.EndTime</dd>
        <dt class="col-sm-2">Capacity</dt>
        <dd class="col-sm-10">@Model.Capacity</dd>
    </dl>
    <form asp-controller="HistoricalTour" asp-action="DeleteTour" asp-route-id="@Model.HistoricalTourID" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="AvailableTours" class="btn btn-secondary">Cancel</a>
    </form>
</div> *@


@model dotnetapp.Models.Movie

<h2>Delete Movie</h2>

<div>
    <p>Are you sure you want to delete this movie?</p>
    <dl class="row">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">@Model.Title</dd>
        <dt class="col-sm-2">Director</dt>
        <dd class="col-sm-10">@Model.Director</dd>
        <dt class="col-sm-2">Release Year</dt>
        <dd class="col-sm-10">@Model.ReleaseYear</dd>
    </dl>
    <form asp-controller="Movie" asp-action="DeleteMovie" asp-route-id="@Model.MovieID" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="AvailableMovies" class="btn btn-secondary">Cancel</a>
    </form>
</div>
